*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding-top: 48px;
    padding-bottom: 48px;
}
p{
    color: rgb(125, 124, 124);
    max-width: 640px;
}
.button{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
}
h1{
    font-size: 2.96rem;
    margin-bottom: 1.5rem;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.calltoaction{
    background-color: black;
    color: white;
}
.buttonsecondary{
    color: black;
    border: 1px solid black;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}
#logolink,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header {
    border-bottom: 1px solid darkgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#logolink{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
nav{
    display: none;
}
@media only screen and (min-width:600px) {
    .buttons{
        flex-direction: row;
    }
    
}
@media only screen and (min-width:768px) {
    #menubutton {
        display: none;
}
nav{
    display: block;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}
nav a{
    text-decoration: none;
    color: rgb(64, 63, 63);
}
}
@media only screen and (min-width:992px) {
    
}
@media only screen and (min-width:1200px) {
    
}